main{
    background-color: #fbf3f2;
    padding-top: 5rem;
}
form{
    border: 2px solid #fff;
    background-color: #1c768f;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 1rem;
    overflow: hidden;
}

form header{
    height: fit-content;
    padding: 1rem;
    border-bottom: 3px solid #fbf3f2;
}


form p {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fbf3f2;
}

form p input{
    margin-top: 1rem;
}

form p span{
    color: hsl(193, 67%, 84%);
    font-size: small;
}

form button{
    margin: auto;
    width: 50%;
    display: block;
    background-color: #fa991c;
    border: 1px solid #fbf3f2;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: medium;
    cursor: pointer;
}