<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert Master</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
</head>
<body>
    <header class="center-flex">
        <h1>Convert Master</h1>
    </header>
    <main>
        {% if form %}
        <a href="{% url 'control:home' %}" class='btn-primary'>Main Page</a>
        {% endif %}
        {% block content %}
            <div id="apps-list">
                <ul>
                    {% for app_hume_name, app_name in apps.items %}
                        <li class="center-flex" >
                            <a href="/{{ app_name }}">{{ app_hume_name }}</as>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock content %}
    </main>
    <footer>

    </footer>
    <script src="{% static 'js/form_inputfile.js' %}"></script>
</body>
</html>